{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}

    <section class="title">
        <h1>Go Run.</h1>
    </section>

    <div class="section">
        <div>
            <h3>A simple application to help you track Strava data and meet your weekly goals</h3>
        </div>
    </div>
    <div class="section get_started_section">
        <h2>Get Started now!</h2>
        <div class="get_started_buttons">
            <a class="btn btn-secondary" href="/login" role="button">Login</a>
            <a class="btn btn-secondary" href="/signup" role="button">Register</a>
        </div>
    </div>


{% endblock %}